
#room {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 24px;
}

#title {
	display: flex;
	justify-content: center;
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 20px;
	font-family: Open Sans;
	text-transform: uppercase;
}

#room_info{
	padding: 30px;
	border: 3px solid grey;
	margin: 20px;
	border-radius: 20px;

}

.semi_title{
	display: flex;
	justify-content: center;
	font-size: 36px;
	font-weight: bold;
	padding-bottom: 20px;
}


.leave-btn{
	margin: 0 auto;
	display: block;
	font-size: 24px;
	padding: 15px;
	border-radius: 10px;
	border: 3px solid grey;
}

.copy-btn{
	font-size: 24px;
	margin: 0 10px;
	padding: 5px;
	border: 3px solid grey;
	border-radius: 10px;
}
